/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

VBox {
    
    -fx-background-color:  #2F2B43;
}
Label {
    -fx-text-fill: white;
    
}
Label.title {
    
  -fx-text-fill: orangered;
  
  -fx-font-size: 40;

  -fx-font-weight: bold;
  -fx-label-padding: 5;
 
}  
HBox.one {
    -fx-background-color: whitesmoke;
    -fx-alignment: CENTER;
    
}

GridPane {
    -fx-vgap: 10;
    -fx-hgap: 15;
}
GridPane > Label  {
    
     -fx-halignment: right;
    
}
RadioButton {
    
  
    -fx-padding: 10;
    
}
HBox.edit {
    -fx-spacing: 10;
    -fx-padding: 10;    
}
HBox.login {
    
    -fx-alignment: CENTER;
    -fx-font-family: Tahoma;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-text-fill: white;

}
GridPane.dangnnhap {
    -fx-vgap: 10;
    -fx-hgap: 15;
}
VBox.category {
    
    -fx-spacing: 10;
    
}

GridPane.test {
    -fx-border-color: red;
    
}
Label.H1{
     -fx-font-size: 25;
    -fx-font-weight: bold;
}
Button.button4{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
Button.button4:hover {
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
Button.button2{

 -fx-background-color: #393351;
 -fx-background-radius: 20;

}
.button2:hover{
    -fx-background-color:  #524A7B;
    -fx-background-radius: 20;
}
.button2:pressed{
   -fx-background-color : #2F2B43 ;
   -fx-background-radius :  20;
   
}